<!--
  Generated template for the BookDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{book.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
{{book.name}} - {{book.release_year}}
{{book.description}}
</ion-content>
