<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Genres</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let genre of genres" (click)="genreClicked($event, genre)" attr.id="{{genre.id}}">
          {{genre.name}}
        </button>
    </ion-list>
</ion-content>
