<!--
  Generated template for the BooksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{genre.name}} books</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let book of books" (click)="bookClicked($event, book)" attr.id="{{book.id}}">
          {{book.name}}
        </button>
    </ion-list>
</ion-content>
